ultralytics
streamlit
opencv-python-headless
altair
attrs
ca-certificates
cachetools
certifi
charset-normalizer
click
contourpy
cycler
dill
filelock
fonttools
fsspec
gitdb
gitpython
idna
importlib-metadata
jinja2
jsonschema
jsonschema-specifications
kiwisolver
libffi
markdown-it-py
markupsafe
matplotlib
mdurl
mpmath
ncurses
networkx
numpy
openssl
packaging
pandas
pillow
pip
protobuf
psutil
py-cpuinfo
pyarrow
pydeck
pygments
pyparsing
python
python-dateutil
pytz
pyyaml
readline
referencing
requests
rich
rpds-py
scipy
seaborn
setuptools
six
smmap
sqlite
sympy
tenacity
thop
tk
toml
toolz
torch
torchvision
tornado
tqdm
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wheel
xz
zipp
zlib